.App {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #002f52 35%, #326589 165%);
}

.App-header {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.opcoes {
    display: flex;
}

.opcao {
    display: flex;
    justify-content: center;
    min-width: 120px;
    font-size: 16px;
    text-align: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
}

.icones {
    display: flex;
    align-items: center;
}

.icone {
    margin-right: 40px;
    width: 25px;
}

li {
    list-style: none;
}